<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxp-hbzVWSfQjTdLL4T_2SxSImhvOw-Mc</string>
	<key>GCM_SENDER_ID</key>
	<string>918717660514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.echnelapp.barber</string>
	<key>PROJECT_ID</key>
	<string>barber-ba330</string>
	<key>STORAGE_BUCKET</key>
	<string>barber-ba330.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918717660514:ios:a0b9058d764ef20053003b</string>
</dict>
</plist>